#character {
    flex: 0 0 50%;
    width: 50vw !important;
    height: 100vh !important;
    div {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        width: 50% !important;
    }
}