.header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba($color: #000000, $alpha: 0.05);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

    .headerMenu {
        width: 100%;
        height: 100%;
        .listMenu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            a {
                color: #ffffff;

                &.active h3 {
                    animation: neonAnim 2s alternate-reverse infinite;
                    color: #F5F8FB;

                    @keyframes neonAnim {
                        from {
                            text-shadow:
                              0 0 20px rgba(245, 248, 251, .7),
                              0 0 50px rgba(245, 248, 251, .7),
                              0 0 110px rgba(245, 248, 251, .7);
                          }
                          to {
                            text-shadow:
                              0 0 15px rgba(245, 248, 251, .7),
                              0 0 30px rgba(245, 248, 251, .7),
                              0 0 70px rgba(245, 248, 251, .7);
                          }
                    }
                }
            }

            @media (max-width: 800px) {
                margin-top: 20px;
            }

            .menuItem {
                pointer-events: all;
                color: #ffffff
            }
        }
    }
}