.main {
    width: 100vw;
    height: 150vh;
    background-color: black;
    position: relative;
    top: 0;
    z-index: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}