.starsContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;

    @function multiple-box-shadow ($n) {
        $value: '#{random(100)}vw #{random(100)}vh #FFF';
        @for $i from 2 through $n {
            $value: '#{$value} , #{random(100)}vw #{random(100)}vh #FFF';
        }
        @return unquote($value)
    }
    $shadows-small:  multiple-box-shadow(150);
    $shadows-medium: multiple-box-shadow(100);
    $shadows-big:    multiple-box-shadow(50);

    
    #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        border-radius: 100%;
        animation: animStar 50s linear infinite;
            
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            background: transparent;
            border-radius: 100%;
            box-shadow: $shadows-small;
        }
    }   
    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        border-radius: 100%;
        animation: animStar 100s linear infinite;
        
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            background: transparent;
            border-radius: 100%;
            box-shadow: $shadows-medium;
        }
    }
    #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        border-radius: 100%;
        animation: animStar 150s linear infinite;
            
        &:after {
            content: " ";
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            background: transparent;
            border-radius: 100%;
            box-shadow: $shadows-big;
        }
    }
}

@keyframes animStar {
  from	{
    transform: translateY(0px)
  }
  to {
    transform: translateY(-100vh)
  }
}